@media (min-width: 500px) {
    #login .cover {
        background-color: white;
        width: 100%;
        height: 100vh;
        position: relative;
        border-radius: 1em;
        box-shadow: 1em 1em 2em rgb(100, 156, 156);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #login button:active {
        color: #0a7f7c;
        background-color: #2fc8c4;
    }

    #login button:focus {
        color: aliceblue;
        transform: scale(1.05);
    }
}

#login .cover {
    background-color: white;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#login .logo {
    background-image: url(../Icons/logo.png);
}

#login #login .logo-container {
    position: relative;
    width: 80%;
    height: 3em;
    top: 2em;
    display: flex;
    justify-content: space-around;
}

#login .logo-container div {
    width: 35%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#login .page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
}

#login input {
    border: none;
    background-color: rgb(229, 226, 226);
    height: 4em;
    width: 22em;
    border-radius: 0.5em;
    text-align: center;
    padding: 2em;
}

#login input:focus {
    outline-color: #2fc8c4;
}

#login button {
    border: none;
    width: 25%;
    height: 3.5em;
    color: #0a7f7c;
    background-color: #2fc8c4;
    display: flex;
    font-size: medium;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    transition: 0.2s;
    cursor: pointer;
}

#login button:hover {
    color: aliceblue;
    transform: scale(1.05);
}

#login .alt-login {
    position: relative;
    bottom: 2em;
}

#login .userimg {
    border-radius: 50%;
}

#login input::-webkit-outer-spin-button,
#login input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
