#body{
    display: flex;
    background-color:#f7e9f3;
    
    /* padding: 0px 300px; */
    flex-direction: column;
}
#body>.body-logo{
    margin: 0;
    padding: 0;
}

#body>.body-logo>.logo-img{
    width: 100%;
    height: auto;
}
#body>.body-bottom> .service{
    width: 100%;
    padding: 0px 300px;
}
#body>.body-bottom> .service>.service-img{
    display: flex;
    justify-content: space-between;
}
#body>.body-bottom> .service>.service-img> .img{
    width: 400px;
    height: 150px;
}
#body>.body-bottom>.des{
    padding: 10px;
    text-align: center;
    color: rgb(243, 111, 111);
}
#body>.body-bottom>.content{
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 20px;
    background-color:#e83737;
    color: white;
    font: bold;
}
#body>.body-bottom>.item>.item-type{
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    font: bold;
    background-color:#ffffff;
    align-items: center;
    height: 50px;

}
#body>.body-bottom>.item>.item-type>.type-name{
    margin-right: 20px;
   
}
#body>.body-bottom>.item>.item-type>.type-name:hover{
    color:  rgb(224, 42, 42);;
}