#header {
  background-color: black;
  width: 100%;
  padding: 10px 500px;
}

#header > .header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

#header > .header-top > .contact > .phone {
  color: yellow;
}

#header > .header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
#header > .header-top > .login {
  background-color: transparent;
  color: white;
  border: none;
}
#header > .header-bottom > .cart{
  background-color: transparent;
  color: white;
  border: none;
}
#header > .header-top > .login:hover, #header > .header-bottom > .cart:hover {
  background-color: rgba(255,255,255,0.5);
}

#header > .header-bottom > .search-container {
  display: flex;
  height: 30px;
}

#header > .header-bottom > .search-container > .search {
  width: 400px;
  border: none;
} 
#header > .header-bottom > .search-container > .search-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  color: orange;
  border: none;
  height: 100%;
  width: 60px;
}