#header{
    display: flex;
    background-color: black;
    width: 100%;
    padding: 5px 300px;
    flex-direction: column;
}
#header > .header-top{
    display: flex;
    justify-content: space-between;
}
#header > .header-top > .service{
    
    font: bold;
    color:white ;
}
#header > .header-top > .service> .phone{
    color: rgb(114, 247, 240);
}
#header> .header-top> .login{
    border: none;
    background-color: black;
    color: aliceblue;
    
}
#header> .header-top >.login:hover{
    color: rgb(148, 201, 204);
    text-decoration: underline;
}   
#header> .header-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
#header> .header-bottom>.logo{
    font-size: xx-large;
    font-family: 'Fuggles', cursive;
    color: #30e7ff;
}
#header>.header-bottom>.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header>.header-bottom>.search-container>.search-bar{
    height: 35px;
    width: 600px;
    border: none;
}
#header>.header-bottom>.search-container>.search-button{
    border: none;
    padding: 0;
    height: 35px;
    width: 60px;
    background-color: #a8f5ff   ;
}
#header>.header-bottom>.search-container>.search-button:hover{
    background-color: #32ffee   ;
}
#header>.header-bottom>.cart-button{
    background-color: black;
    color: aliceblue;
    border: none;
}
#header>.header-bottom>.cart-button:hover{
    color: rgb(148, 201, 204);
    background-color: rgb(65, 65, 65);
}
