#item{
    width: 18%;
    border: black 5px;
    
}
#item:hover{
    border: 1px solid #312f2f;
    
}
#item>.item-img>.img{
    padding-top: 20px;
}
#item>.item-detail>.title{
    color: black;
    font-weight: 700;
    text-wrap: wrap;
    padding: 10px;

}
#item>.item-detail>.table{
    background-color: rgb(255, 255, 255);
    padding: 7px 7px 15px 7px;
}
#item>.item-detail>.price{
    text-align: left;
    padding: 10px;
}
#item>.item-detail>.price>.cost{
    text-decoration: line-through;
    color: #a9a9a9;
}
#item>.item-detail>.price>.discount{
    font-weight:1000;
    color: #ea1717;
}


