/* SearchBar Styles
.search-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .search-bar input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-bar input::placeholder {
    color: #aaa;
  }
  
  .search-bar button {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Optionally style the symbol inside the input */
 /* .search-bar .search-icon {
    font-size: 20px;
    color: #aaa;
    margin-right: 5px;
  }

   */