#footer {
    background-color: antiquewhite;
    display: flex;
    gap: 130px;
    padding: 5px 300px;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: max-content;
}
#footer > .container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#footer > .container > .title {
    color: #ff6348;
}
#footer > .container > ul {
    padding: 0px;
    list-style: none;
}
#footer > .container > .content > .detail:hover {
    color: #fb8b77;
}
